@model IEnumerable<PracticProject.Models.UsersFolder.User>
@{
    ViewBag.Title = "Main Page";
}
<div>
    <h3 style=" width : inherit;"><label class=".label-info">Свежие задачи</label></h3>
    <br>

    <div>
        @{Html.RenderAction("TaskListView", "Task"); }
    </div>
</div>

